#!/bin/bash

# OVS-BridgeBuilder  --  Virtual Network Management utility
# 
# Use to manage LXD & Libvirt OpenVswitch Networks
# This is currently only tested on Arch and Ubuntu-Xenial; YMMV on other
# distros
#
# Requires LXD, Libvirt, and OpenVSwitch services
# 
# Initial prep and variable are sourced from the ccio.conf file
# All actions are executed within functions
# All functions originate from the " function first
# The "RUN" function starts at the bottom of the script
# All other functions are arranged roughly in the order of the script's logic
# from bottom to top. 

# Debugging Switches
  dbg_BREAK="true"
  print_DBG_FLAGS="true"
# dbg_BREAK="false"
# print_DBG_FLAGS="false"

# Default Run Values
xml_FILE_DIR="/etc/ccio/virsh_xml"
show_HELP="false"
show_HELP_LONG="false"
show_HEALTH="false"
show_CONFIG="false"
ovs_SERVICE_NAME="ovs-vswitchd.service"
lxd_SERVICE_NAME="lxd.service"
libvirt_SERVICE_NAME="libvirtd.service"
ovs_BR_DRIVER="openvswitch"
lxd_CMD="lxc"
purge_DEAD_OVS_PORTS="false"
delete_NETWORK="false"
add_OVS_PORT="false"
default_BR_NAME="ovsbr01"
name_OVS_BR="$default_BR_NAME"
lxd_CONT_NAME="false"
ovs_BR_NAME="false"
ovs_ADD_PORT="false"

dbg_FLAG="[d00.0b] > Imported ccio.conf" && print_dbg_flags;
