# OVS-BridgeBuilder  --  Virtual Network Management utility
# 
# Use to manage LXD & Libvirt OpenVswitch Networks
# This is currently only tested on Arch and Ubuntu-Xenial; YMMV on other
# distros
#
# Requires LXD, Libvirt, and OpenVSwitch services
# 
# Initial prep and variable are sourced from the ccio.conf file
# All actions are executed within functions

# Debugging Switches [true|false]
dbg_BREAK="false"
print_DBG_FLAGS="false"

# Host System Service Names
# Will be disabled at install time if service is not installed on host
ovs_SERVICE_NAME="ovs-vswitchd"
lxd_SERVICE_NAME="snap.lxd.daemon.service"
libvirt_SERVICE_NAME="libvirtd.service"

# Default Run Values
xml_FILE_DIR="/etc/ccio/virsh_xml"
show_HELP="false"
show_HELP_LONG="false"
show_HEALTH="false"
show_CONFIG="false"
ovs_BR_DRIVER="openvswitch"
lxd_CMD="lxc"
lxd_IFACE_DIR="/etc/ccio/interfaces.d"
purge_DEAD_OVS_PORTS="false"
delete_NETWORK="false"
add_OVS_PORT="false"
default_BR_NAME="ovsbr01"
name_OVS_BR="ovsbr01"
lxd_CONT_NAME="false"
ovs_BR_NAME="false"
add_OVS_BR="false"
ovs_ADD_PORT="false"

echo "INFO: [d00.0b] > Imported ccio.conf"
